:root {

    --title-color: #fdd846;
    --bkg-color  : #3a3a3a;
    --text-color : ghostwhite;

    --comp-color1 : #474FFC;
    --comp-color2: #FC2DED;

    --font-title : Rubik;
    --font-text : Newsreader;

}

* {
    box-sizing: border-box;
}

body {

    margin: 0;
    background-color: var(--bkg-color);
    color: var(--text-color);
    font-family: var(--font-text);
    font-weight: lighter;
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: .01em;

}

h1 {

    font-family: var(--font-title);
    font-weight: 400;
    font-size: 3rem;
    text-align: center;
    color: var(--title-color);

}

h2 {
    font-family: var(--font-title);
    font-weight: 400;
    color: var(--title-color);
    text-align: center;
}

.text {

    margin-bottom: 2rem;

}

.text p {

    line-height: 1.4;

}

.inner-container {

    max-width: 32rem;
    margin: 0 auto;
    /*background-color: blanchedalmond;*/

}

.svg-container {

    outline: 10px solid var(--comp-color1);
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;

}

svg {

    width: 100%;
    /*background-color: floralwhite;*/

}

/* vis */

rect.estoque {

    fill: var(--title-color);

}