:root {

    --title-color: #fdd846;
    --bkg-color  : #3a3a3a;
    --text-color : ghostwhite;

    --comp-color1 : #474FFC;
    --comp-color2: #FC2DED;

    --font-title : 'Alfa Slab One';
    --font-text : Newsreader;

}

* {
    box-sizing: border-box;
}

html {
    overflow-y: hidden;
}

img.logo {

    display: block;
    margin: 0 auto; 

}

body {

    margin: 0;
    background-color: var(--bkg-color);
    color: var(--text-color);
    font-family: var(--font-text);
    font-weight: lighter;
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: .01em;
    scroll-behavior: smooth;

}

h1 {

    font-family: var(--font-title);
    font-weight: 400;
    font-size: 3rem;
    text-align: center;
    color: var(--title-color);

}

h2, h3, h4 {

    font-family: var(--font-title);
    font-weight: 400;
    color: var(--title-color);
    /*text-align: center;*/

}

.text {

    max-width: 32rem;
    margin: 0 auto;

}

.slide {

    height: 98vh;
    padding: 1rem 0;
    min-width: 100vw;
    position: relative;
    scroll-snap-align: start;


}

.text p {

    line-height: 1.4;

}

a.back,
a.next {

    text-decoration: none;
    position: absolute;
    top: 50vh;
    font-size: 5rem;
    font-weight: bold;
    color: var(--text-color);
    transform: translateY(-50%) scale(.35,1);

}

.next {

    right: 5vw;

}

.back {

    left: 5vw;

}

.container {

    scroll-behavior: smooth;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    scroll-snap-type: block mandatory;
    overflow-x: scroll;
    overflow-y: hidden;
    /*background-color: blanchedalmond;*/

}

.container-step {

    margin-left: 1rem;
    width: calc(50vw - 1rem - 150px);

}

/* scroller */

.vis {
    position: fixed;
    z-index: -1;
    top: 5vh;
    min-height: 90vh;
    left: 0;
    width: 100%;
    opacity: 0;
}

.svg-container {

    outline: 10px solid var(--comp-color1);
    max-width: 100%;
    width: 200px;
    margin: 0 auto;
    height: 90vh;

}

svg {

    width: 100%;
    height: 100%;
    /*background-color: floralwhite;*/

}

.scroller-steps {

    height: 100vh;
    max-width: 20rem;
    margin: 0 auto;

}

.scroller-steps h3 {

    margin-top: 0;

}

.scroller-steps * {

    background-color: var(--bkg-color);

}

.scroller-steps::before {

    content: "";
    display: block;
    width: 5vw;
    height: 1rem;
    border-top: 4px solid var(--title-color);

}


/* vis */

rect.estoque {

    fill: var(--title-color);

}

.quadradinho {

    position: absolute;
    background-color: crimson;

}

