* {
    box-sizing: border-box;
}

body {

    margin: 0;

}

.inner-container {

    max-width: 32rem;
    margin: 0 auto;
    background-color: blanchedalmond;

}

.svg-container {

    outline: 1px solid royalblue;
    max-width: 100%;
    margin: 0 auto;

}

svg {

    width: 100%;
    background-color: floralwhite;

}